<!DOCTYPE html>
<html>
  <head>
    <title>WeLyon - Accueil</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 5px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    {{ JSGlue.include() }}
    <script src="{{url_for('static', filename='./js/mapManager.js') }}"></script>
    <script src="{{url_for('static', filename='./js/util.js') }}"></script>
    <script src="{{url_for('static', filename='./js/jquery.js') }}"></script>
    <script>
        google.maps.event.addDomListener(window, 'load', initMap);
    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>
